data/*
!data/.gitkeep

docs/*
!docs/.gitkeep

process_results.py
config/generate_config.py

results/*
!results/.gitkeep

nohup.out

significance.py
nohup_logs/*

config/exp_*

exp_sh/*
!exp_sh/.gitkeep
!exp_sh/

dataset/*
!dataset/.gitkeep
!dataset/
!dataset/bitcoin-alpha/
!dataset/bitcoin-alpha/**
!dataset/uci-msg/
!dataset/uci-msg/**

preprocess/raw_data/*
!preprocess/raw_data/.gitkeep

.specstory
*.csv

ER_graph.py
generate_dynamic_network.py

plot/

noise/

.DS_Store
Thumbs.db

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE相关
.idea/
.vscode/
*.swp
*.swo 