torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
torch-geometric==2.6.1
torch-scatter==2.1.2+pt25cu124
torch-sparse==0.6.18+pt25cu124
torch-cluster==1.6.3+pt25cu124
numpy==2.0.2
pandas==2.2.3
scikit-learn==1.6.0
scipy==1.13.1
matplotlib==3.9.4
tensorboard==2.18.0
tensorboardx==2.6.2.2
wandb==0.19.1
dgl==2.0.10
networkx==3.2.1
tqdm==4.67.1
yacs==0.1.8
deepsnap==0.2.1 